*, *::before, *::after{
  box-sizing:border-box;
}

:root{
  --bg-color:#BFD7ED;
}

html, body{
  height: 100%;
  margin: 0;
  
  background-color: var(--bg-color);

  font-family: sans-serif;
}


#root{
  height:100%;
}