*, *::before, *::after{
    box-sizing:border-box;
  }
  
  .app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
  