.home__title{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
  

.carousel-container {
    position: relative;
    display: flex;
    width: 80%;
    margin-left:7rem;
    margin-right:4rem;
    align-items: center;
    justify-content: center;
    height: 400px;
    overflow: hidden;
    
  }
  
  .carousel-slide {
    display: flex;
    width: calc(100% * 3);
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-image {
    flex: 1 0 100%;

    
    
  }
  
  .carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 


  .carousel-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  } 
  
  .carousel-button {
    font-size: 2rem;
    color: aliceblue;
    padding: 5px;
    margin: 0 0 0 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }
 
  .carousel-button:hover {
    background: #aaa;
  } 
  